{{ define "main" }}
  <section class="hero container">
    {{ with .Params.subtitle }}
      <h2 class="text-center page-subtitle">{{ . }}</h2>
    {{ else }}
      <h2 class="text-center page-subtitle">{{ .Site.Params.subtitle }}</h2>
    {{ end }}
      <h1 class="text-center page-title">{{ .Title }}</h1>
  </section>
  <figure class="container-wide">
    <div class="aspect-ratio-wide">
      <img 
          sizes="(min-width: 30em) 28em, 100vw" 
          
          srcset ="https://res.cloudinary.com/harrycresswell/image/fetch/f_auto,q_70/{{ .Params.image }} 256w,

              https://res.cloudinary.com/harrycresswell/image/fetch/f_auto,q_70/{{ .Params.image }} 512w,

              https://res.cloudinary.com/harrycresswell/image/fetch/f_auto,q_70/{{ .Params.image }} 768w,

              https://res.cloudinary.com/harrycresswell/image/fetch/f_auto,q_70/{{ .Params.image }} 1024w,

              https://res.cloudinary.com/harrycresswell/image/fetch/f_auto,q_70/{{ .Params.image }} 3000w"

      src="  https://res.cloudinary.com/harrycresswell/image/fetch/f_auto,q_70,w_512/{{ .Params.image }}"
      alt="image of Camilla" />
    </div>
  </figure>

  <section class="quote">
    <blockquote class="text-center text-container-wide blockquote">
      {{ .Params.insert }}
    </blockquote>
  </section>

  <div class= "block-container">
    {{ range where .Site.RegularPages "Section" "services" }}
        <div class="service">
          <img src="{{ .Params.featured_image }}" alt="{{ .Params.featured_alt }}">
          <div class="service-inner text-center">
            <h3 class="service-title">{{ .Title }}</h3>
            <p>{{ .Params.description }}</p>
            <a href="{{ .Permalink }}">Find out more</a>
          </div>
        </div>
    {{ end }}
  </div>

{{ end }}


