{{ define "main" }}
  <section class="hero container">
    {{ with .Params.subtitle }}
      <h2 class="text-center page-subtitle">{{ . }}</h2>
    {{ else }}
      <h2 class="text-center page-subtitle">{{ .Site.Params.subtitle }}</h2>
    {{ end }}
      <h1 class="text-center page-title">{{ .Title }}</h1>
  </section>
  
  <figure class="container-wide">
    <div class="aspect-ratio-wide">
      <img 
      sizes="(min-width: 30em) 30em, 100vw" 
      srcset ="https://res.cloudinary.com/harrycresswell/image/upload/f_auto,w_256,q_auto:best/{{ .Params.image }} 256w,
              https://res.cloudinary.com/harrycresswell/image/upload/f_auto,w_512,q_auto:best/{{ .Params.image }} 512w,
              https://res.cloudinary.com/harrycresswell/image/upload/f_auto,w_768,q_auto:best/{{ .Params.image }} 768w,
              https://res.cloudinary.com/harrycresswell/image/upload/f_auto,w_1024,q_auto:best/{{ .Params.image }} 1024w,
              https://res.cloudinary.com/harrycresswell/image/upload/f_auto,w_1280,q_auto:best/{{ .Params.image }} 1280w"
      src="  https://res.cloudinary.com/harrycresswell/image/upload/{{ .Params.image }}"
      alt="image of Camilla" />
    </div>
  </figure>

  <section class="quote">
    <blockquote class="text-center text-container-wide blockquote">
      {{ .Params.insert }}
    </blockquote>
  </section>


  {{ range .Params.blocks }}
    {{ if eq .component "service"  }}
    <div class= "block-container">
      {{ partial "blocks/service" (dict "Params" .) }}
    </div>
    {{ end }}
  {{ end }}
{{ end }}
