.Button {
  border: none;
  font-family: var(--font-mono);
  font-size: var(--font-size-xxs);
  letter-spacing: 1px;
  padding: calc(var(--space)*1.5) calc(var(--space) *2);
  transition-duration: 0.2s;
  vertical-align: middle;
  white-space: nowrap;
  cursor: pointer;
  text-decoration: none;

  &:hover {
    border: none;
    text-decoration: none !important;
  }
}

.Button--primary {
  background: var(--color-dark);
  color: var(--color-white) !important;
  padding: 14px 20px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: none;
  text-rendering: optimizeLegibility;

}

.Button--primary:hover,
.Button--primary:focus,
.Button--primary:active,
.Button--primary.is-pressed {
  background-color: var(--color-brand);
}
