.logo {
  font-size: var(--font-size-md);
  text-decoration: none;
  color: var(--color-dark);
  font-family: var(--font-heading);
  font-weight: 700;
  letter-spacing: -3px;
  transition: .2s;

  &:hover {
    color: var(--color-brand);
  }
}
