// &:active,
// &:focus {
//   box-shadow: solid 1px var(--color-accent);
//   outline-offset: 2px;
// }


a:not([class]) {
  color: var(--color-brand);
  cursor: pointer;
  text-decoration: underline;
  text-decoration-skip-ink: auto;

  &:hover {
    color: var(--color-accent);
  }

  &:active,
  &:focus {
    outline: dotted 1px var(--color-brand);
  }
}
