:root {
  --color-dark: #354147;
  --color-body: #373a3c;
  --color-light: #666;
  --color-lighter: #e5e5e5;
  --color-lightest: #fbfafa;
  --color-link: #556142;
  --color-selection: #EEEAFF;
  --color-accent: #287088;
  --color-white: #fff;
}

::selection {
  color: var(--color-link);
  background-color: var(--color-selection);
}