:root {
  --color-dark: #222;
  --color-body: #444;
  --color-accent: #00AAB5;
  --color-brand: #007880;
  --color-white: #fff;
  --color-highlight: #fafafa;
  --color-aqua: #007880;
  --gutter: 1rem;
}

::selection {
  color: var(--color-brand);
  background-color: var(--color-accent);
}
