.hero {
 position: relative;
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
}

.hero--banner-image {
 img {
  max-height: 600px;
  object-fit: cover;
 }

 div {
  position: absolute;

  h1,
  h2 {
   color: white;
  }
 }
}