header,
footer {
  margin-left: 32px;
  margin-right: 32px;
  height: 88px;
  display: flex;
}

.navbar-header,
.navbar-footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-links {
  display: flex;
  justify-content: space-between;
  li {
    list-style-type: none;
  }

  li:not(:last-child) {
    margin-right: 24px;
  }
  
  a {
    text-decoration: none;
  }
}


