{{ define "main" }}
  <section class="hero container">
    <h1 class="page-title text-center" >{{ .Title }}</h1>
    {{ with .Params.subtitle }}
      <h2 class="text-center page-subtitle">{{ . }}</h2>
    {{ else }}
      <h2 class="text-center page-subtitle">{{ .Site.Params.subtitle }}</h2>
    {{ end }}  
  </section>
  
  <section class="pricing-container container-wide">

  {{ range .Params.blocks }}
    {{ if eq .component "box"  }}
      {{ partial "blocks/box" (dict "Params" .) }}
    {{ else if eq .component "service" }}
      {{ partial "blocks/service" (dict "Params" .) }}
    {{ end }}
  {{ end }}
  </section>
{{ end }}
