{{ define "main" }}
 
 {{ partial "hero.html" . }}

  <section class="container">
   {{ range .RegularPages.ByDate }}
    <div class="card | region flow text-center">
      <h3><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
      {{ with .Summary }}
        <p>{{ . }}</p>
      {{ end }}
      <div class="center">
        <div class="cluster">
          {{ with .Params.price }}
            <p><strong>{{ . | markdownify }}</strong></p>
          {{ end }}
          {{ with .Params.discount_text }}
            <span class="badge">
              {{ . }}
            </span>
          {{ end }}
        </div>
      </div>
      <div>
        <a href="{{ .Permalink }}">Find out more</a>
      </div>
    </div>
   {{ end }}
  </section>

  {{ partial "email-capture.html" . }}

 {{ end }}