{{ define "main" }}
 
 {{ partial "hero.html" . }}

  <section class="container">
   {{ range .RegularPages.ByDate }}
    <div class="card | region flow text-center">
      <h3>{{ .Title }}</h3>
      {{ with .Summary }}
        <p>{{ . }}</p>
      {{ end }}
      {{ with .Params.price }}
        <p><strong>{{ . }}</strong></p>
      {{ end }}
      <div>
        <a href="{{ .Permalink }}">Find out more</a>
      </div>
    </div>
   {{ end }}
  </section>

  {{ partial "email-capture.html" . }}

 {{ end }}