{{ define "main" }}
  <section class="hero container">
    <h1 class="text-center page-title">{{ .Title }}</h1>
    {{ with .Params.subtitle }}
      <h2 class="text-center page-subtitle">{{ . }}</h2>
    {{ else }}
      <h2 class="text-center page-subtitle">{{ .Site.Params.subtitle }}</h2>
    {{ end }}
  </section>

  {{ with .Content }}
    <div class="text-container page-content">
      {{ . }}
    </div>
  {{ end }}
  
  {{ $currentURL := .URL }}
  {{ $blocks := .Params.blocks }}
  {{ with $blocks }}
    <div class="{{ if eq $currentURL "/pricing/" }}pricing-container{{ else }}block-container{{ end }}">
      {{ range . }}
          {{ if eq .component "box"  }}
            {{ partial "blocks/box" (dict "Params" .) }}
          {{ else if eq .component "service" }}
            {{ partial "blocks/service" (dict "Params" .) }}
          {{ end }}
      {{ end }}
    </div>
  {{ end }}

{{ end }}
