{{ define "main" }}
  
  {{ partial "hero.html" . }}

  {{ with .Content }}
    <div class="text-container page-content">
      {{ . }}
    </div>
  {{ end }}
  
  {{ $currentURL := .URL }}
  {{ $blocks := .Params.blocks }}
  {{ with $blocks }}
    <div class="{{ if eq $currentURL "/pricing/" }}pricing-container{{ else }}block-container{{ end }}">
      {{ range . }}
          {{ if eq .component "box"  }}
            {{ partial "blocks/box" (dict "Params" .) }}
          {{ end }}
      {{ end }}
    </div>
  {{ end }}

{{ end }}
