<section class="email-capture">
  <form action="https://fitness.us22.list-manage.com/subscribe/post?u=88fa2cf1725fc94b694967987&amp;id=7303fa13bc&amp;f_id=00d5cee1f0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="flow validate" target="_blank">
      <h2>Join my newsletter</h2>
      <div>
        <label for="mce-FNAME">First Name </label>
        <input type="text" name="FNAME" class=" text" id="mce-FNAME" value="">
      </div>
      <div>
        <label for="mce-LNAME">Last Name </label>
        <input type="text" name="LNAME" class=" text" id="mce-LNAME" value="">
      </div>
      <div>
        <label for="mce-EMAIL">Email Address</label>
        <input type="email" name="EMAIL" class="required email" id="mce-EMAIL" value="" required="">
      </div>
    <div id="mce-responses">
      <div class="response" id="mce-error-response" style="display: none;"></div>
      <div class="response" id="mce-success-response" style="display: none;"></div>
    </div>
    <div aria-hidden="true" style="position: absolute; left: -5000px;">
      /* real people should not fill this in and expect good things - do not remove this or risk form bot signups */
      <input type="text" name="b_88fa2cf1725fc94b694967987_7303fa13bc" tabindex="-1" value="">
    </div>
    <input type="submit" name="subscribe" id="mc-embedded-subscribe" class="Button Button--primary" value="Subscribe">
  </form>
</section>