<footer class="footer" role="contentinfo">
    <div class="footer-logo">
      <a href="/"><p>ccpt</p></a>
    </div>
    <div class="footer-nav">
      <nav aria-label="Footer">
        <ul class="cluster">
          {{ range .Site.Menus.nav }}
            <li>
              <a href="{{ .URL }}" class="header-links hover">{{ .Name }}</a>
            </li>
          {{ end }}
        </ul>
      </nav>
      <nav aria-label="Legal" class="mt4">
        <ul class="cluster">
          {{ range .Site.Menus.legal }}
            <li>
              <a href="{{ .URL }}" class="header-links hover">{{ .Name }}</a>
            </li>
          {{ end }}
        </ul>
      </nav>
    </div>
    <a class="footer-icon" href="{{ .Site.Params.socialInstagram }}">
      {{ partial "svg/instagram.html" . }}
    </a>
</footer>
