{{ if isset .Params "hero_banner_image" }}
  <section class="hero hero--banner-image">
    <div class="container-wide">
      <h1 class="text-center page-title">{{ .Title }}</h1>
      {{ with .Params.subtitle }}
        <h2 class="text-center page-subtitle mt2">{{ . }}</h2>
      {{ else }}
        <h2 class="text-center page-subtitle mt2">{{ .Site.Params.subtitle }}</h2>
      {{ end }}
    </div>
    <img 
    sizes="100vw" 
    srcset ="https://res.cloudinary.com/camillafitness/image/upload/f_auto,q_70/{{ .Params.hero_banner_image }} 256w,
    https://res.cloudinary.com/camillafitness/image/upload/f_auto,q_70/{{ .Params.hero_banner_image }} 512w,
    https://res.cloudinary.com/camillafitness/image/upload/f_auto,q_70/{{ .Params.hero_banner_image }} 768w,
    https://res.cloudinary.com/camillafitness/image/upload/f_auto,q_70/{{ .Params.hero_banner_image }} 1024w,
    https://res.cloudinary.com/camillafitness/image/upload/f_auto,q_70/{{ .Params.hero_banner_image }} 3000w"
    src="https://res.cloudinary.com/camillafitness/image/upload/f_auto,q_70,w_512/{{ .Params.hero_banner_image }}"
    alt="image of Camilla" />
  </section>  
{{ else }}
  <section class="hero hero--text container">
    <h1 class="text-center page-title">{{ .Title }}</h1>
    {{ with .Params.subtitle }}
      <h2 class="text-center page-subtitle mt2">{{ . }}</h2>
    {{ else }}
      <h2 class="text-center page-subtitle mt2">{{ .Site.Params.subtitle }}</h2>
    {{ end }}
  </section>
{{ end }}