{{ $instaFeed := resources.Get "js/instagramFeed.js"}}
{{ $main := resources.Get "js/main.js" }}

{{ $script := slice $instaFeed $main | resources.Concat "app.js" }}

<script src="{{ $script.Permalink }}" integrity="{{ $script.Data.Integrity }}
"></script>

<!-- direct logged in users to the CMS dashboard page -->
<script>
 if (window.netlifyIdentity) {
   window.netlifyIdentity.on("init", user => {
     if (!user) {
       window.netlifyIdentity.on("login", () => {
         document.location.href = "/admin/";
       });
     }
   });
 }
</script>
