<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <!-- Titles -->
    <title>{{ .Title }} &ndash; {{ .Site.Title }}</title>
    <meta name="title" content="{{ .Title }}">
    <!-- Descriptions -->
    {{ with .Site.Params.keywords }}<meta name="keywords" content="{{.}}">{{ end }}
    {{ with .Site.Params.author }}<meta name="author" content="{{ . }}">{{ end }}
    {{ with .Site.Params.description }}<meta name="description" content="{{ . }}">{{ end }}
    {{ with .Site.LanguageCode }}<meta http-equiv="content-language" content="{{ . }}" />{{ end }}
    <!-- Open Graph / Facebook -->
    {{ if not .Site.Params.OpenGraph.hide }}
		<meta name="og:site_name" content="{{ .Site.Title }}">
		<meta name="og:title" content="{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }}{{ end }}">
		<meta name="og:url" content="{{ .Permalink }}">
		<meta name="og:image" content="{{ .Site.BaseURL }}images/lula.jpg">
		{{ end }}
    <!-- Google Verification -->
    <meta name="google-site-verification" content="wRo_PWALyYfpZJmULKoZvbluBuMap8g40xRi00D-l28" />
    <!-- Styles -->
    {{ $scss := resources.Get "scss/main.scss" }}
    {{ $styles := $scss | resources.ToCSS }}
    <link rel="stylesheet" href="{{ $styles.Permalink }}">
    <!-- RSS -->
    {{ with .OutputFormats.Get "rss" -}}
      {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
    {{ end -}}
    <!-- Icons -->
    <link rel="apple-touch-icon" href="{{ .Site.BaseURL }}img/apple-touch-icon.png" sizes="180x180">
    <link rel="icon" href="{{ .Site.BaseURL }}img/favicon-32x32.png" sizes="32x32" type="image/png">
    <link rel="icon" href="{{ .Site.BaseURL }}img/favicon-16x16.png" sizes="16x16" type="image/png">
    <link rel="shortcut icon" href="{{ .Site.BaseURL }}img/favicon.ico" type="image/x-icon">
    <!-- canonical link tag -->
    <link rel="canonical" href="{{ .Permalink }}"/>
    <!-- Load Webfonts -->
    <link rel="stylesheet" href="https://use.typekit.net/whu5zeh.css">
    <style type="text/css"> html{ margin: 0; height: 100%; overflow: hidden; } iframe{ position: absolute; left:0; right:0; bottom:0; top:0; border:0; } </style>
</head>
<body>

<section id="main" class="">
    <article id="content">
       {{ .Content }}
    </article>
</section>

{{ partial "scripts.html" . }}
{{ template "_internal/google_analytics_async.html" . }}

</body>
</html>
