.font-mono {
  font-family: var(--font-mono);
  font-size: var(--font-size-xxs);
  letter-spacing: 1px;
}

.text-center {
  text-align: center;
}

.text-justify {
  text-align: justify;
}

.page-title {
  font-family: var(--font-mono);
  font-size: var(--font-size-xs);
  margin: calc(var(--space) *4) 0;
}

.page-subtitle {
  font-size: var(--font-size-xxl);
  font-weight: 700;
  line-height: var(--line-height-xs);
}


.service-title {
  font-size: var(--font-size-sm);
  line-height: var(--line-height-lg);
}

.service-subtitle{
  font-size: var(--font-size-sm);
  line-height: var(--line-height-lg);
  font-weight: 100;
}

@media(max-width: 900px) {
  .page-subtitle {
    font-size: 48px;
  }

  .service-title {
    font-size: 21px;
  }

  .service-subtitle {
    font-size: 18px;
    letter-spacing: -1px;
  }
}

.circle {
  border-radius: 50%;
}

.author {
  font-weight: 700;
}
