.page-title {
  font-family: var(--font-mono);
  font-size: var(--font-size-s);
}

.page-subtitle {
  font-size: var(--font-size-xxl);
  font-weight: 700;
  line-height: var(--line-height-xs);
}

@media(max-width: 900px) {
  .page-subtitle {
    font-size: 40px;
  }
}

@media (max-width: 500px) {
  .page-subtitle {
    font-size: 32px;
  }
}