.service {
  margin-top: calc(var(--space) *4);
  margin-bottom: calc(var(--space) *8);
}

@media (max-width: 500px) {
  .service {
    margin-top: 0px;
    margin-bottom: 0px;;
  }
}

.service-inner {
  background-color: white;
  border: 2px dashed var(--color-dark);
  padding: calc(var(--space) *4);
  align-self: center;

  p {
    padding: calc(var(--space) *3);
  }
}
@include breakpoint(lg) {
    .service:nth-child(odd) {
      display: grid;
      grid-template-columns: 6fr 1fr 5fr;
      grid-column-gap: 0px;
    
      img {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
      }
    
      .service-inner {
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 1;
      }
    }

  .service:nth-child(even) {
    display: grid;
    grid-template-columns: 5fr 1fr 6fr;
    grid-column-gap: 0px;
  
    img {
      grid-column-start: 2;
      grid-column-end: 4;
      grid-row-start: 1;
    }
  
    .service-inner {
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 1;
    }
  }
}
