.service-section {
  margin-top: calc(var(--space) *4);
  margin-bottom: calc(var(--space) *4);
}

.service-container {
  background-color: white;
  border: 2px dashed var(--color-dark);
  padding: calc(var(--space) *4);
  align-self: center;

  p {
    padding: calc(var(--space) *3);
  }
}
@include breakpoint(lg) {
  .block-container:nth-child(odd) {
    .service-section:nth-child(odd) {
      display: grid;
      grid-template-columns: 6fr 1fr 5fr;
      grid-column-gap: 0px;
    
      img {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
      }
    
      .service-container {
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 1;
      }
    }
  }

  .block-container:nth-child(even) {
    .service-section {
      display: grid;
      grid-template-columns: 5fr 1fr 6fr;
      grid-column-gap: 0px;
    
      img {
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 1;
      }
    
      .service-container {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
      }
    }
  }
}
